<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Padam87RasterizeBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <file>ConfigHelper.php</file>
            <file>Rasterizer.php</file>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
</phpunit>
