<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <testsuites>
        <testsuite name="Padam87RasterizeBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <file>ConfigHelper.php</file>
            <file>Rasterizer.php</file>
        </whitelist>
    </filter>
</phpunit>
